body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #38bdf8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.summary {
  display: flex;
  justify-content: space-between;
}

.income {
  color: #22c55e;
}

.expense {
  color: #ef4444;
}

.tx {
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
}

.tx.INCOME {
  background: #064e3b;
}

.tx.EXPENSE {
  background: #7f1d1d;
}